html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import 'custom/variables.scss'; 

@import 'components/common/common.scss';

@import 'components/forms/forms.scss';

@import 'components/layout/layout.scss';

@import 'page/pages.scss'