.newsletter {
    background-color: $newsletter-background-color;
    padding: $section-padding;

    h2{
        text-align: center;
    }

    .newsletter-form {
        display: block;
        padding: 0 0 4rem;
        max-width: 300px;
        margin: 0 auto;
        

        fieldset {
            padding:0.5rem 0;
        }

        .newsletter-submit {
            text-align: center;

            input[type="submit"] {
                width: 100%;
            }
        }
    }

    @media only screen and (min-width: $x-large) {
        text-align: center;

        .newsletter-form {
            display: flex;
            margin: 0 auto;
            gap: 1rem;
            max-width: unset;
            align-items: center;
            padding: 0 0;

            .newsletter-submit {
                input[type="submit"] {
                    border-bottom-left-radius: 0;
                    border-top-left-radius: 0;
                    margin-left: -2.5rem;
                    padding: 12px 4rem 13px 1rem;
                }
            }
        }
    }
}
