body {
    background-color: $background-color;
}

.bg-black {
    background-color: $black;
    color: $white;
    a {
        color: $white;
    }
}

.bg-blue,
.pricing-plans {
    background-color: $blue;
    color: $white;
    a {
        color: $white;
    }
}

.bg-blue {
    background-color: $blue;
    color: $white;
    a {
        color: $white;
    }
}

.bg-gray {
    background-color: $gray;
}

.bg-red {
    background-color: $dark-red;
    background-size: $background-cover;
    background-position-x: $background-x;
    background-position-y: $background-y;
    background-blend-mode: $hero-blend;
    // background-image: url("/images/backgrounds/logo-background.png");
    color: $white;
    a {
        color: $white;
    }

    h2 {
        color: $blue;
    }
}

.bg-white {
    background-color: $white;
    color: $black;
}

.hero-accounting-and-tax-services {
    background: $hero-background;
    background-size: $background-cover;
    background-position-x: $background-x;
    background-position-y: $background-y;
    background-blend-mode: $hero-blend;
    background-image: url("/images/hero/hero-accounting-and-tax-services-500x700.webp");

    @media only screen and (min-width: $medium) {
        background-image: url("/images/hero/hero-accounting-and-tax-services-1600x500.webp");
        background-position: $background-center;
    }
}

.hero-credit-restoration {
    background: $hero-background;
    background-size: $background-cover;
    background-position-x: $background-x;
    background-position-y: $background-y;
    background-blend-mode: $hero-blend;
    background-image: url("/images/hero/hero-credit-restoration-500x700.webp");

    @media only screen and (min-width: $medium) {
        background-image: url("/images/hero/hero-credit-restoration-1600x500.webp");
        background-position: $background-center;
    }
}

.hero-extended-warranty-services {
    background: $hero-background;
    background-size: $background-cover;
    background-position-x: $background-x;
    background-position-y: $background-y;
    background-blend-mode: $hero-blend;
    background-image: url("/images/hero/hero-extended-warranty-services-500x700.jpg");

    @media only screen and (min-width: $medium) {
        background-image: url("/images/hero/hero-extended-warranty-services-1600x500.jpg");
        background-position: $background-center;
    }
}

.hero-financial-education {
    background: $hero-background;
    background-size: $background-cover;
    background-position-x: $background-x;
    background-position-y: $background-y;
    background-blend-mode: $hero-blend;
    background-image: url("/images/hero/hero-financial-education-500x700.webp");

    @media only screen and (min-width: $medium) {
        background-image: url("/images/hero/hero-financial-education-1600x500.webp");
        background-position: $background-center;
    }
}

.hero-home {
    background: $hero-background;
    background-size: $background-cover;
    background-position-x: $background-x;
    background-position-y: $background-y;
    background-blend-mode: $hero-blend;
    background-image: url("/images/hero/hero-home-500x700.webp");

    @media only screen and (min-width: $medium) {
        background-image: url("/images/hero/hero-home-1600x500.webp");
        background-position: $background-center;
    }
}

.hero-private-small-business-network {
    background: $hero-background;
    background-size: $background-cover;
    background-position-x: $background-x;
    background-position-y: $background-y;
    background-blend-mode: $hero-blend;
    background-image: url("/images/hero/hero-private-small-business-network-500x700.webp");

    @media only screen and (min-width: $medium) {
        background-image: url("/images/hero/hero-private-small-business-network-1600x500.webp");
        background-position: $background-center;
    }
}
.intro {
    background-color: $intro-background-color;
    background-image: url("/images/intro/usa-flag-2.webp");
    background-size: $background-cover;
    background-blend-mode: $intro-blend;
    color: $intro-font-color;
}
