body {
    background-color: $background-color;
}

.bg-black {
    background-color: $black;
    color: $white;
    a {
        color: $white;
    }
}

.bg-blue,
.pricing-plans {
    background-color: $blue;
    color: $white;
    a {
        color: $white;
    }

    h2,
    h3 {
        color: $white;
    }
}

.bg-gray {
    background-color: $gray;
}

.bg-red {
    background-color: $red;
    background-size: $background-cover;
    background-position-x: $background-x;
    background-position-y: $background-y;
    background-blend-mode: $hero-blend;
    // background-image: url("/images/backgrounds/logo-background.png");
    color: $white;
    a {
        color: $white;
    }

    h2 {
        color: $blue;
    }
}

.bg-white {
    background-color: $white;
    color: $black;
}

.hero-accounting-and-tax-services {
    background: $hero-background;
    background-size: $background-cover;
    background-position-x: $background-x;
    background-position-y: $background-y;
    background-blend-mode: $hero-blend;
    background-image: url("/images/hero/hero-accounting-and-tax-services-500x700.webp");

    @media only screen and (min-width: $medium) {
        background-image: url("/images/hero/hero-accounting-and-tax-services-1600x500.webp");
        background-position: $background-center;
    }
}

.hero-credit-restoration {
    background: $hero-background;
    background-size: $background-cover;
    background-position-x: $background-x;
    background-position-y: $background-y;
    background-blend-mode: $hero-blend;
    background-image: url("/images/hero/hero-credit-restoration-500x700.webp");

    @media only screen and (min-width: $medium) {
        background-image: url("/images/hero/hero-credit-restoration-1600x500.webp");
        background-position: $background-center;
    }
}

.hero-extended-warranty-services {
    background: $hero-background;
    background-size: $background-cover;
    background-position-x: $background-x;
    background-position-y: $background-y;
    background-blend-mode: $hero-blend;
    background-image: url("/images/hero/hero-extended-warranty-services-500x700.jpg");

    @media only screen and (min-width: $medium) {
        background-image: url("/images/hero/hero-extended-warranty-services-1600x500.jpg");
        background-position: $background-center;
    }
}

.hero-financial-education {
    background: $hero-background;
    background-size: $background-cover;
    background-position-x: $background-x;
    background-position-y: $background-y;
    background-blend-mode: $hero-blend;
    background-image: url("/images/hero/hero-financial-education-500x700.webp");

    @media only screen and (min-width: $medium) {
        background-image: url("/images/hero/hero-financial-education-1600x500.webp");
        background-position: $background-center;
    }
}

.hero-home {
    background: $hero-background;
    background-size: $background-cover;
    background-position-x: $background-x;
    background-position-y: $background-y;
    background-blend-mode: $hero-blend;
    background-image: url("/images/hero/hero-home-500x700.webp");

    @media only screen and (min-width: $medium) {
        background-image: url("/images/hero/hero-home-1600x500.webp");
        background-position: $background-center;
    }
}

.hero-private-small-business-network {
    background: $hero-background;
    background-size: $background-cover;
    background-position-x: $background-x;
    background-position-y: $background-y;
    background-blend-mode: $hero-blend;
    background-image: url("/images/hero/hero-private-small-business-network-500x700.webp");

    @media only screen and (min-width: $medium) {
        background-image: url("/images/hero/hero-private-small-business-network-1600x500.webp");
        background-position: $background-center;
    }
}

.intro {
    background-color: $intro-background-color;
    background-image: url("/images/intro/usa-flag-2.webp");
    background-size: $background-cover;
    background-blend-mode: $intro-blend;
    color: $intro-font-color;

    h2 {
        color: $white;
    }
}

@media only screen and (min-width: $large) {

    // 640x960
    
    .bg-car {
        background-image: url("/images/backgrounds/car.jpg");
        background-size: cover;
        background-position-x: center;
        background-position-y: 60%;
    }

    .bg-laptop-and-phone {
        background-image: url("/images/backgrounds/laptop-and-phone.jpg");
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
    }

    .bg-laptop-tv-living-room {
        background-image: url("/images/backgrounds/laptop-tv-living-room.jpg");
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
    }

    .bg-oven-and-microwave {
        background-image: url("/images/backgrounds/oven-and-microwave.jpg");
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
    }

    // 960x640

    .bg-business-agreement {
        background-image: url("/images/backgrounds/business-agreement.jpg");
        background-size: $background-cover;
        background-position-x: right;
        background-position-y: center;
    }
    
    .bg-call-center {
        background-image: url("/images/backgrounds/call-center.jpg");
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
    }

    .bg-car-5 {
        background-image: url("/images/backgrounds/car-5.jpg");
        background-size: cover;
        background-position-x: center;
        background-position-y: 60%;
    }

    .bg-car-repair {
        background-image: url("/images/backgrounds/car-repair.jpg");
        background-size: cover;
        background-position-x: center;
        background-position-y: 60%;
    }
   
    .bg-cell-phone {
        background-image: url("/images/backgrounds/cell-phone.jpg");
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
    }

    .bg-contract {
        background-image: url("/images/backgrounds/contract.jpg");
        background-size: $background-cover;
        background-position-x: 75%;
        background-position-y: center;
    }

    .bg-contract-signing {
        background-image: url("/images/backgrounds/contract-signing.jpg");
        background-size: $background-cover;
        background-position-x: center;
        background-position-y: center;
    }

    .bg-credit-score-range {
        background-color: $white;
        background-image: url("/images/backgrounds/credit-score-range.png");
        background-size: 100%;
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
    } 
    
    .bg-fico-score-factors {
        background-image: url("/images/backgrounds/fico-score-factors.png");
        background-size: 100%;
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
    }
    
    .bg-handed-keys {
        background-image: url("/images/backgrounds/handed-keys.jpg");
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
    }
    
    .bg-income-tax {
        background-image: url("/images/backgrounds/income-tax.jpg");
        background-size: $background-cover;
        background-position-x: center;
        background-position-y: center;
    }

    .bg-new-car {
        background-image: url("/images/backgrounds/new-car.jpg");
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
    }

    .bg-secretary {
        background-image: url("/images/backgrounds/secretary.jpg");
        background-size: $background-cover;
        background-position-x: 80%;
        background-position-y: center;
    }
    
    .bg-stressed-woman-on-laptop {
        background-image: url("/images/backgrounds/stressed-woman-on-laptop.jpg");
        background-size: cover;
        background-position-x: right;
        background-position-y: 80%;
    }

    .bg-team-meeting {
        background-image: url("/images/backgrounds/team-meeting.jpg");
        background-size: $background-cover;
        background-position-x: center;
        background-position-y: center;
    }

    .bg-woman-on-laptop-on-floor {
        background-image: url("/images/backgrounds/woman-on-laptop-on-floor.jpg");
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
    }

}
