.hero-accounting-and-tax-services {
    background:  $hero-background ;
    background-size: $background-cover;
    background-position: $background-center;
    background-blend-mode: $background-overlay;
    padding: $hero-padding;
    background-image: url("/images/hero/hero-accounting-and-tax-services-500x700.webp");

    @media only screen and (min-width: $medium) {
        background-image: url("/images/hero/hero-accounting-and-tax-services-1600x580.webp");
    }
}

.hero-credit-restoration {
    background:  $hero-background ;
    background-size: $background-cover;
    background-position: $background-center;
    background-blend-mode: $background-overlay;
    padding: $hero-padding;
    background-image: url("/images/hero/hero-credit-restoration-500x700.webp");

    @media only screen and (min-width: $medium) {
        background-image: url("/images/hero/hero-credit-restoration-1600x580.webp");
    }
}

.hero-financial-education {
    background:  $hero-background ;
    background-size: $background-cover;
    background-position: $background-center;
    background-blend-mode: $background-overlay;
    padding: $hero-padding;
    background-image: url("/images/hero/hero-financial-education-500x700.webp");

    @media only screen and (min-width: $medium) {
        background-image: url("/images/hero/hero-financial-education-1600x580.webp");
    }
}

.hero-home {
    background:  $hero-background ;
    background-size: $background-cover;
    background-position: $background-center;
    background-blend-mode: $background-overlay;
    padding: $hero-padding;
    background-image: url("/images/hero/hero-home-500x700.webp");

    @media only screen and (min-width: $medium) {
        background-image: url("/images/hero/hero-home-1600x580.webp");
    }
}

.hero-private-small-business-network {
    background:  $hero-background ;
    background-size: $background-cover;
    background-position: $background-center;
    background-blend-mode: $background-overlay;
    padding: $hero-padding;
    background-image: url("/images/hero/hero-private-small-business-network-500x700.webp");

    @media only screen and (min-width: $medium) {
        background-image: url("/images/hero/hero-private-small-business-network-1600x580.webp");
    }
}
