@import "navbar-toggle.scss";
@import "offcanvas.scss";

.nav {
    .nav-link{
        color: $white;
        padding: .5rem;
        &:hover {
            opacity: .8;
        }
    }
    .top-bar {
        padding: 0.5rem 1rem;
        background-color: $nav-topbar-background-color;
        color: $nav-topbar-color;
        display: flex;
        font-size: $nav-topbar-font-size;

        a {
            color: $nav-topbar-color;
        }

        .login {
            display: flex;
            margin-right: 0;
            margin-left: auto;
        }
    }

    .navbar {
        width: 100%;
        padding: $nav-padding;
        background: $nav-background-color !important;
        border-bottom: $navbar-bottom-border;

        .nav-grid {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;

            .nav-desktop-contact {
                display: none;
            }

            .nav-navbar {
                display: flex;
                justify-self: end;
            }
        }

        .logo {
            width: 100%;
            max-width: 250px;
        }

        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $nav-font-color;
                    font-size: $nav-font-size;
                    font-style: $nav-font-style;
                    font-weight: $nav-font-weight;
                    text-transform: $nav-text-transform;

                    &:hover {
                        color: $nav-font-hover-color;
                        opacity: 1;
                        text-decoration: underline;
                    }
                }

                .dropdown-menu {
                    .dropdown-item {
                        &:hover {
                            background-color: $nav-dropdown-item-background-hover-color;
                            color: $nav-dropdown-item-hover-color;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (min-width: $small) {
        .navbar {
            .logo {
                max-width: 325px;
            }
        }
    }

    @media only screen and (min-width: $large) {
        .top-bar {
            .login {
                margin-right: 0;
                margin-left: auto;
            }
        }

        .navbar {
            .logo {
                max-width: 400px;
            }

            .nav-grid {
                .nav-desktop-contact {
                    justify-self: end;
                    display: flex;
                    padding-right: 0.5rem;

                    .nav-contact-link {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}
