body {
    max-width: 100vw;
    overflow-x: hidden;
}

.container-fluid {
    max-width: 100vw;
}

.row {
    align-items:top;
}

.block {
    padding: $block-padding;
}

.section {
    padding: $section-padding;
}

.anchor {
    display: block;
    position: relative;
    top:-150px;
    visibility: hidden;
}
