# Set the Time Zone of your Server
SetEnv TZ America/Chicago

# ServerAdmin:  This address appears on some server-generated pages, such as error documents.
SetEnv SERVER_ADMIN bryan@dkiholdings.com

# Commonly used filename extensions to character sets.
AddDefaultCharset UTF-8

# Default Language
DefaultLanguage en-US

## REWRITE DEFAULTS
RewriteEngine On
RewriteBase /
DirectorySlash Off

Header always set X-Frame-Options "SAMEORIGIN"
Header set X-Frame-Options "DENY"


RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule ^([^.]+)$ $1.html [L]

# Enforce https
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Remove www
RewriteCond %{HTTP_HOST} ^www.consumerprotection.agency [NC]
RewriteRule ^(.*)$ https://consumerprotection.agency/$1 [L,R=301,NC]

# Remove .html at end of url
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

# Alias directories
RewriteRule ^/?about/(\w+)/?$  /about/$1 [END]
RewriteRule ^/?services/(\w+)/?$  /services/$1 [END]

# Disable Directory Browsing
Options All -Indexes

# 301 Redirects
Redirect 301 /services/extended-warranty-services extended-warranty-services/
Redirect 301 /services/natural-disaster-coverage natural-disaster-coverage/
Redirect 301 /private-small-business-network services/private-small-business-network
Redirect 301 /accounting-and-tax-services services/accounting-and-tax-services
Redirect 301 /financial-education services/financial-education
Redirect 301 /credit-restoration services/credit-restoration

# ERRORDOCUMENTS
ErrorDocument 404 /404.html
ErrorDocument 403 /403.html

# Don't allow anyone to see my .htaccess file
<Files .htaccess>
  Order allow,deny
  Deny from all
</Files>

<IfModule mod_headers.c>
  Header set X-XSS-Protection "1; mode=block"
</IfModule>