// colors
$black: #121212;
$blue: #181f53;
$dark-blue: #282838;
$dark-gray: #404142;
$dark-red: #8f0f1f;
$gray: #828386;
$light-blue: #2b2d80;
$light-gray: #ebebef;
$red: #ba2519;
$transparent-black: #121212a2;
$white: #fff;

// backgrounds
$background-bottom-center: bottom center;
$background-color: $white;
$background-center: center center;
$background-x: center;
$background-y: 80%;
$background-cover: cover;
$background-multiply: multiply;
$background-overlay: overlay;
$background-soft-light: soft-light;
$background-hard-light: hard-light;
$background-top-right: top right;
$footer-background-color: $dark-blue;
$footer-copyright-background-color: $black;
$hero-background: $light-gray;
$hero-blend: $background-multiply;
$image-background-color: $white;
$intro-background-color: $dark-gray;
$intro-blend: $background-multiply;
$nav-background-color: $white;
$nav-dropdown-item-background-hover-color: $blue;
$nav-topbar-background-color: $blue;
$navbar-toggler-background-color: transparent;
$newsletter-background-color: $white;
$offcanvas-background-color: $white;
$offcanvas-header-background-color: $blue;
$video-background-color: $dark-gray;

// borders
$border-rounded-input: 20px;
$border-input-color: $light-gray;
$navbar-toggler-border-color: transparent;
$navbar-bottom-border: 1px solid $light-gray;
$video-border: 1px solid $dark-gray;

// breakpoints
$x-small: 0px;
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
$xx-large: 1400px;

//buttons
$button-border: none;
$button-border-radius: 1.5rem;
$button-font-size: 1rem;
$button-padding: 0.8rem 1.8rem;
$button-primary-background-color: $blue;
$button-primary-background-hover-color: $dark-blue;
$button-secondary-background-color: $gray;
$button-secondary-background-hover-color: $dark-gray;

// fonts
$body-font-color: $black;
$body-font-family: 'Poppins';
$body-font-family-bold: 'Poppins Bold';
$body-font-family-bold-italic: 'Poppins Bold Italic';
$body-font-family-medium: 'Poppins Medium';
$body-font-family-thin: 'Poppins Thin';
$body-font-size: 1rem;
$body-font-size-mobile: 1rem;
$body-font-weight: 400;

$font-size-small: .9rem;

$header-font-family: 'Inter';
$header-font-weight: 400;
$header-line-height: 1;

$h1-font-size: 3rem;
$h1-font-size-mobile: 2rem;
$h1-font-weight: 900;

$h2-font-size: 2.2rem;
$h2-font-size-mobile: 1.75rem;
$h2-margin-bottom: 1.75rem;

$intro-font-color: $white;

$footer-font-color: $white;
$footer-font-size: 1rem;
$footer-font-weight: 500;
$footer-header-font-family: $header-font-family;
$footer-header-font-size: 1.5rem;
$footer-icon-size: 2.5rem;
$footer-copyright-font-color: $white;
$footer-copyright-font-size: $font-size-small;

$error-page-header-size: 10rem;
$error-page-header-size-mobile: 5rem;

$label-font-weight: 600;

$link-font-color: $blue;
$link-font-hover-color: $dark-blue;
$link-font-weight: 500;

$list-font-size: 1.25rem;

$nav-dropdown-font-size: $font-size-small;
$nav-font-color: $black;
$nav-font-hover-color: $dark-blue;
$nav-font-family: $body-font-family-bold-italic;
$nav-font-size: 1rem;
$nav-font-size-dropdown: 1rem;
$nav-font-style: normal;
$nav-font-weight: 400;
$nav-text-transform: normal;
$nav-topbar-color: $white;
$nav-topbar-font-size: .85rem;
$nav-dropdown-item-hover-color: $white;

$offcanvas-font-color: $blue;
$offcanvas-header-font-color: $white;

// padding and margins
$block-padding: 2rem;
$footer-padding: 4rem 1rem;
$footer-list-padding: 0.5rem 0;
$hero-padding: 7rem 0;
$hero-padding-mobile: 4rem 0 10rem;
$image-padding: 2rem;
$intro-padding-mobile: 2rem 1rem 1rem;
$intro-padding: 6rem 0;
$list-padding: 0 0 1rem;
$nav-padding: 0.5rem;
$section-padding-mobile: 2rem;
$section-padding: 4rem;

// sizes
$container-width: 1460px;
$image-width: 600px;
$image-height: 800px;