// colors
$black: #030303;
$blue: #194898;
$dark-blue: #273192;
$dark-gray: #555;
$gray: #333;
$light-blue: #0045ad;
$light-gray: #aaa;
$red: #f60030;
$white: #fff;

// backgrounds
$background-color: $white;
$footer-background-color: $blue;
$footer-copyright-background-color: $black;
$nav-background-color: $blue;
$navbar-toggler-background-color: transparent;

// Borders
$navbar-toggler-border-color: transparent;

// breakpoints
$x-small: 0px;
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
$xx-large: 1400px;

// fonts
$body-font-color: $black;
$body-font-family: 'Roboto';
$body-font-family-bold: 'Roboto Bold';
$body-font-family-bold-italic: 'Roboto Bold Italic';
$body-font-family-medium: 'Roboto Medium';
$body-font-family-thin: 'Roboto Thin';
$body-font-size: 1.25rem;
$body-font-size-mobile: 1rem;
$body-font-weight: 400;

$font-size-small: .9rem;

$header-font-family: 'Anton';
$header-font-weight: 400;
$header-line-height: 1;
$header-margin-bottom: 1.5rem;

$link-font-color: $blue;
$link-font-hover-color: $dark-blue;
$link-font-weight: 500;

$nav-font-color: $white;
$nav-font-hover-color: $red;
$nav-font-family: $body-font-family-bold-italic;
$nav-font-size: 1rem;
$nav-font-size-dropdown: 1rem;
$nav-font-style: italic;
$nav-font-weight: 900;
$nav-text-transform: uppercase;

$footer-font-color: $white;
$footer-font-size: 15px;
$footer-font-weight: 500;
$footer-header-font-family: $header-font-family;
$footer-header-font-size: 1.2rem;
$footer-icon-size: 2.5rem;
$footer-copyright-font-color: $white;
$footer-copyright-font-size: $font-size-small;

$error-page-header-size: 10rem;
$error-page-header-size-mobile: 5rem;

$label-font-weight: 600;
