// colors
$black: #030303;
$blue: #1b1c4e;
$dark-blue: #15153a;
$dark-gray: #565758;
$dark-red: #8f0f1f;
$gray: #828386;
$light-blue: #2b2d80;
$light-gray: #bdbec0;
$red: #d40b18;
$white: #fff;

// backgrounds
$background-bottom-center: bottom center;
$background-color: $white;
$background-center: center center;
$background-cover: cover;
$background-overlay: multiply;
$background-overlay-hover: soft-light;
$background-top-right: top right;
$footer-background-color: $blue;
$footer-copyright-background-color: $black;
$nav-background-color: $white;
$nav-topbar-background-color: $blue;
$navbar-toggler-background-color: transparent;
$offcanvas-background-color: $white;
$offcanvas-header-background-color: $blue;

// borders
$navbar-toggler-border-color: transparent;

// breakpoints
$x-small: 0px;
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
$xx-large: 1400px;

//buttons
$button-border: none;
$button-border-radius: 1.5rem;
$button-font-size: 1rem;
$button-padding: 0.8rem 1.8rem;
$button-primary-background-color: $blue;
$button-primary-background-hover-color: $dark-blue;
$button-secondary-background-color: $gray;
$button-secondary-background-hover-color: $dark-gray;

// fonts
$body-font-color: $black;
$body-font-family: 'Poppins';
$body-font-family-bold: 'Poppins Bold';
$body-font-family-bold-italic: 'Poppins Bold Italic';
$body-font-family-medium: 'Poppins Medium';
$body-font-family-thin: 'Poppins Thin';
$body-font-size: 1rem;
$body-font-size-mobile: 1rem;
$body-font-weight: 400;

$font-size-small: .9rem;

$header-font-family: 'Inter';
$header-font-weight: 400;
$header-line-height: 1;

$h1-font-size: 3.8rem;
$h1-font-size-mobile: 2rem;
$h1-font-weight: 900;

$h2-font-size: 2.75rem;
$h2-font-size-mobile: 1.75rem;
$h2-margin-bottom: 2rem;

$footer-font-color: $white;
$footer-font-size: 15px;
$footer-font-weight: 500;
$footer-header-font-family: $header-font-family;
$footer-header-font-size: 1.2rem;
$footer-icon-size: 2.5rem;
$footer-copyright-font-color: $white;
$footer-copyright-font-size: $font-size-small;

$error-page-header-size: 10rem;
$error-page-header-size-mobile: 5rem;

$label-font-weight: 600;

$link-font-color: $blue;
$link-font-hover-color: $dark-blue;
$link-font-weight: 500;

$nav-font-color: $black;
$nav-font-hover-color: $dark-blue;
$nav-font-family: $body-font-family-bold-italic;
$nav-font-size: 1rem;
$nav-font-size-dropdown: 1rem;
$nav-font-style: normal;
$nav-font-weight: 400;
$nav-text-transform: normal;
$nav-topbar-color: $white;
$nav-topbar-font-size: .85rem;

$offcanvas-font-color: $blue;
$offcanvas-header-font-color: $white;