body {
    background-color: $background-color;
}

.menu {
    padding: 0 0;
    margin: 0 0;
    display: grid;
    grid-template-columns: 1fr;

    .cpa-services-menu {
        position: relative;
        display: grid;
        align-items: center;

        .cpa-services-menu-block {
            z-index: 1;
            width: 100%;

            img {
                width: 100%;
            }
        }

        .overlay-block {
            position: absolute;
            margin: 0 auto;
            a {
                font-size: 1.25rem;
                // font-weight: 800;
                color: $white;
                text-shadow: 1px 1px 1px $black;
            }
            left: 0;
            width: 100%;
            text-align: center;
            z-index: 5;
        }

        .cover {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            z-index: 2;
            background: radial-gradient(circle, rgba(0,0,0,0.70) 0%, rgba(0,0,0,.75) 100%);
            cursor: pointer;

            &:hover {
                opacity: 0.35;
            }
        }
    }
    @media only screen and (min-width: $small) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (min-width: $xx-large) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.bg-black {
    background-color: $black;
    color: $white;
    a {
        color: $white;
    }
}

.bg-blue {
    background-color: $dark-blue;
    background-image: url(/images/backgrounds/cpa-blue.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: $background-cover;
    background-position: bottom right;    
    // background-blend-mode: $background-overlay;
    background-size: $background-cover;

    color: $white;
    a {
        color: $white;
    }
    h2 {
        color: $white !important;
    }
    h3 {
        color: $red;
    }
}

.bg-cpa-red {
    background-image: url(/images/backgrounds/cpa-red.webp);
    background-size: $background-cover;
    background-attachment: fixed;
}

.bg-gray {
    background-color: $gray;
}

.bg-red {
    background-color: $dark-red;
    background-image: url(/images/backgrounds/cpa-red.png);
    background-repeat: no-repeat;
    background-size: $background-cover;
    background-position: bottom right;
    background-attachment: fixed;
    color: $white!important;
    a {
        color: $white!important;
    }

    h2 {
        color: $blue!important;
    }
    h3 {
        color: $blue;
    }
    .accordion .accordion-item .accordion-header .accordion-button {
        background-color: transparent;
        color: $white;
        font-size: 1.25rem;
        padding: 1rem 0;
      }
    .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
        color: $white;
        background-color: transparent;
        box-shadow: none;
      }

      @media only screen and (min-width: $medium) {
          background-size: contain;
      }
}

.bg-white {
    background-color: $white;
}

.footer {
    background-color: $footer-background-color;
    background-image: url(/images/backgrounds/usa-flag.webp);
    background-blend-mode: $background-multiply;
    background-size: $background-cover;
}

.hero,
.bg-gray {
    background-color: #f1f1f1;
}