body {
    background-color: $background-color;
}

.menu {
    padding: 0 0;
    margin: 0 0;
    display: grid;
    grid-template-columns: 1fr;

    .cpa-services-menu {
        position: relative;
        display: grid;
        align-items: center;

        .cpa-services-menu-block {
            z-index: 1;
            width: 100%;

            img {
                width: 100%;
            }
        }

        .overlay-block {
            position: absolute;
            margin: 0 auto;
            a {
                font-size: 1.25rem;
                // font-weight: 800;
                color: $white;
                text-shadow: 1px 1px 1px $black;
            }
            left: 0;
            width: 100%;
            text-align: center;
            z-index: 5;
        }

        .cover {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            z-index: 2;
            background: radial-gradient(circle, rgba(0,0,0,0.70) 0%, rgba(0,0,0,.75) 100%);
            cursor: pointer;

            &:hover {
                opacity: 0.35;
            }
        }
    }
    @media only screen and (min-width: $small) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (min-width: $xx-large) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.bg-black {
    background-color: $black;
    color: $white;
    a {
        color: $white;
    }
}

.bg-blue {
    // background-color: $dark-blue;
    background-image: url(/images/backgrounds/cpa-blue.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: $background-cover;
    background-position: bottom right;    
    // background-blend-mode: $background-overlay;
    background-size: $background-cover;

    color: $white;
    a {
        color: $white;
    }
    h2 {
        color: $white !important;
    }
    h3 {
        color: $red;
    }
}

.bg-cpa-red {
    background-image: url(/images/backgrounds/cpa-red.webp);
    background-size: $background-cover;
    background-attachment: fixed;
}

.bg-gray {
    background-color: $gray;
}

.bg-red {
    background-color: $dark-red;
    background-image: url(/images/backgrounds/cpa-red.png);
    background-repeat: no-repeat;
    background-size: $background-cover;
    background-position: bottom right;
    background-attachment: fixed;
    color: $white!important;
    a {
        color: $white!important;
    }

    h2 {
        color: $blue!important;
    }
    h3 {
        color: $blue;
    }
    .accordion .accordion-item .accordion-header .accordion-button {
        background-color: transparent;
        color: $white;
        font-size: 1.25rem;
        padding: 1rem 0;
      }
    .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
        color: $white;
        background-color: transparent;
        box-shadow: none;
      }

      @media only screen and (min-width: $medium) {
          background-size: contain;
      }
}

.bg-white {
    background-color: $white;
}

.footer {
    background-color: $footer-background-color;
    background-image: url(/images/backgrounds/usa-flag-1.webp);
    background-blend-mode: $background-multiply;
    background-size: $background-cover;
}

.hero,
.bg-gray {
    background-color: #f1f1f1;
}

.bg-video {
    background-color: $intro-background-color;
    background-image: url("/images/backgrounds/usa-flag-2.webp");
    background-size: $background-cover;
    background-blend-mode: $intro-blend;
}

@media only screen and (min-width: $large) {
    // 640x960

    .bg-car {
        background-image: url("/images/backgrounds/car.webp");
        background-repeat: no-repeat;
        background-size: $background-cover;
        background-position-x: center;
        background-position-y: 60%;
    }

    .bg-laptop-and-phone {
        background-image: url("/images/backgrounds/laptop-and-phone.webp");
        background-repeat: no-repeat;
        background-size: $background-cover;
        background-position-x: center;
        background-position-y: center;
    }

    .bg-laptop-tv-living-room {
        background-image: url("/images/backgrounds/laptop-tv-living-room.webp");
        background-repeat: no-repeat;
        background-size: $background-cover;
        background-position-x: center;
        background-position-y: center;
    }

    .bg-oven-and-microwave {
        background-image: url("/images/backgrounds/oven-and-microwave.webp");
        background-repeat: no-repeat;
        background-size: $background-cover;
        background-position-x: center;
        background-position-y: center;
    }

    .bg-video-game {
        background-image: url("/images/backgrounds/video-game.webp");
        background-repeat: no-repeat;
        background-size: $background-cover;
        background-position-x: center;
        background-position-y: center;
    }

    // 960x640

    .bg-air-conditioners {
        background-image: url("/images/backgrounds/air-conditioners.webp");
        background-repeat: no-repeat;
        background-size: $background-cover;
        background-position-x: center;
        background-position-y: center;
    }

    .bg-business-agreement {
        background-image: url("/images/backgrounds/business-agreement.webp");
        background-repeat: no-repeat;
        background-size: $background-cover;
        background-position-x: right;
        background-position-y: center;
    }

    .bg-call-center {
        background-image: url("/images/backgrounds/call-center.webp");
        background-repeat: no-repeat;
        background-size: $background-cover;
        background-position-x: center;
        background-position-y: center;
    }

    .bg-car-4 {
        background-image: url("/images/backgrounds/car-4.webp");
        background-repeat: no-repeat;
        background-size: $background-cover;
        background-position-x: center;
        background-position-y: center;
    }

    .bg-car-5 {
        background-image: url("/images/backgrounds/car-5.webp");
        background-repeat: no-repeat;
        background-size: $background-cover;
        background-position-x: center;
        background-position-y: 60%;
    }

    .bg-car-repair {
        background-image: url("/images/backgrounds/car-repair.webp");
        background-repeat: no-repeat;
        background-size: $background-cover;
        background-position-x: center;
        background-position-y: 60%;
    }

    .bg-cell-phone {
        background-image: url("/images/backgrounds/cell-phone.webp");
        background-repeat: no-repeat;
        background-size: $background-cover;
        background-position-x: center;
        background-position-y: center;
    }

    .bg-contract {
        background-image: url("/images/backgrounds/contract.webp");
        background-repeat: no-repeat;
        background-size: $background-cover;
        background-position-x: 75%;
        background-position-y: center;
    }

    .bg-contract-signing {
        background-image: url("/images/backgrounds/contract-signing.webp");
        background-repeat: no-repeat;
        background-size: $background-cover;
        background-position-x: center;
        background-position-y: center;
    }

    .bg-credit-score-range {
        background-color: $white;
        background-image: url("/images/backgrounds/credit-score-range.webp");
        background-size: contain;
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;        
        box-shadow:inset 0px 0px 1px 0px $gray;
    }

    .bg-fico-score-factors {
        background-color: $white;
        background-image: url("/images/backgrounds/fico-score-factors.webp");
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        box-shadow:inset 0px 0px 1px 0px $gray;
    }

    .bg-handed-keys {
        background-image: url("/images/backgrounds/handed-keys.webp");
        background-repeat: no-repeat;
        background-size: $background-cover;
        background-position-x: center;
        background-position-y: center;
    }

    .bg-income-tax {
        background-image: url("/images/backgrounds/income-tax.webp");
        background-repeat: no-repeat;
        background-size: $background-cover;
        background-position-x: center;
        background-position-y: center;
    }

    .bg-jeep {
        background-image: url("/images/backgrounds/jeep.webp");
        background-repeat: no-repeat;
        background-size: $background-cover;
        background-position-x: center;
        background-position-y: center;
    }

    .bg-laptop-and-tablet {
        background-image: url("/images/backgrounds/laptop-and-tablet.webp");
        background-repeat: no-repeat;
        background-size: $background-cover;
        background-position-x: center;
        background-position-y: center;
    }

    .bg-new-car {
        background-image: url("/images/backgrounds/new-car.webp");
        background-repeat: no-repeat;
        background-size: $background-cover;
        background-position-x: center;
        background-position-y: center;
    }

    .bg-secretary {
        background-image: url("/images/backgrounds/secretary.webp");
        background-repeat: no-repeat;
        background-size: $background-cover;
        background-position-x: 80%;
        background-position-y: center;
    }

    .bg-stressed-woman-on-laptop {
        background-image: url("/images/backgrounds/stressed-woman-on-laptop.webp");
        background-repeat: no-repeat;
        background-size: $background-cover;
        background-position-x: right;
        background-position-y: 80%;
    }

    .bg-tablet {
        background-image: url("/images/backgrounds/tablet.webp");
        background-repeat: no-repeat;
        background-size: $background-cover;
        background-position-x: right;
        background-position-y: center;
    }


    .bg-team-meeting {
        background-image: url("/images/backgrounds/team-meeting.webp");
        background-repeat: no-repeat;
        background-size: $background-cover;
        background-position-x: center;
        background-position-y: center;
    }

    .bg-washing-machine {
        background-image: url("/images/backgrounds/washing-machine.webp");
        background-repeat: no-repeat;
        background-size: $background-cover;
        background-position-x: center;
        background-position-y: center;
    }

    .bg-woman-on-laptop-on-floor {
        background-image: url("/images/backgrounds/woman-on-laptop-on-floor.webp");
        background-repeat: no-repeat;
        background-size: $background-cover;
        background-position-x: center;
        background-position-y: center;
    }

    .bg-video-game-soccer {
        background-image: url("/images/backgrounds/video-game-soccer.webp");
        background-repeat: no-repeat;
        background-size: $background-cover;
        background-position-x: center;
        background-position-y: center;
    }
}
