ol {
    li {
        font-size: $list-font-size;
        padding: $list-padding;
    }
}
 ul {
     margin-bottom: 1.5rem;
 }

 .site-map {
     ul {
        list-style-type: none;
        padding-left: 0;
     }
 }