.btn,
input[type="submit"]  {
    border: $button-border;
    border-radius: $button-border-radius;
    font-size: $button-font-size;
    padding: $button-padding;
}

.btn-primary,
input[type="submit"] {
    background-color: $button-primary-background-color;
    color: $white;

    &:hover {
        background-color: $button-primary-background-hover-color;
        transition: 0.3s;
    }
}

.btn-secondary {
    background-color: $button-secondary-background-color;

    &:hover {
        background-color: $button-secondary-background-hover-color;
        transition: 0.3s;
    }
}