.hero {
    display: grid;
    align-items:center;
    min-height:600px;
    text-align: center;
    .block {
        margin-bottom: 6rem;
    }
    h1 {
        text-align: center;
        color: $black;
    }

}

@media only screen and (min-width: $medium) {
   .hero {
       text-align: left;
       .block {
           margin-bottom: 0;
       }
       h1 {
           text-align: left;
       }
   }

   .hero-generic {
       .block {
           padding: 2rem 0 0;
       }
       .hero{
           h1 {
               text-align: center;
               margin-bottom: 0;
           }
       }
   }
}