.hero {
    display: grid;
    align-items:center;
    text-align: left;
    h1 {
        text-align: left;
        color: $black;
    }
    border-bottom: 1px solid $dark-blue;
}

@media only screen and (min-width: $small) {

    .hero {

        .block {
            padding: $hero-padding-medium;
        }
    }
}

@media only screen and (min-width: $large) {

    .hero {
        .block {
            padding: $hero-padding-large;
        }
    }
}