  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Regular.ttf');
  }
  @font-face {
    font-family: 'Poppins Medium';
    src: url('/fonts/Poppins/Poppins-Medium.ttf');
  }
  @font-face {
    font-family: 'Poppins Bold';
    src: url('/fonts/Poppins/Poppins-Bold.ttf');
  }
  @font-face {
    font-family: 'Poppins Bold Italic';
    src: url('/fonts/Poppins/Poppins-Bold-Italic.ttf');
  }
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/Inter-Regular.ttf');
  }

  .text-small {
    font-size: $font-size-small;
  }

  body {
    color: $body-font-color;
    font-family: $body-font-family;
    font-size: $body-font-size-mobile;
    font-weight: $body-font-weight;
  }

  a {
    color: $link-font-color;
    font-weight: $link-font-weight;
    text-decoration: none;
  }

  
  a:hover {
    color: $link-font-hover-color;
  }

@media only screen and (min-width: $large) {
  body {
      font-size: $body-font-size;
  }
}