.video {
  background-color: $video-background-color;
  border-top: $video-border;
  padding: 0 0;
  
  .row { 
    margin: 0 0 !important;
  }
  
  .row > *{
    padding: 0 0 !important;
  }

  .block {
    padding: 0 0;
  }

  .video-react .video-react-big-play-button {
    background-color: $red;
  }

}
