.video {
  background-color: $video-background-color;

  &.video-home {
    padding: 0 0;
  }
  
  .block {
    padding: 0 0;
  }

  .video-react .video-react-big-play-button {
    background-color: $red;
  }

}
