.video {
  background-color: $video-background-color;
  padding: 0 0;

  video,
  .video-react-poster {
    border-top: $video-border;
  }

  .container {
    padding: 0 0 !important;
    max-width: $container-small-width;
    margin: 0 auto;
  }
  
  .row { 
    margin: 0 0 !important;
    padding: 0 0 !important;
  }
  
  .row > *{
    padding: 0 0 !important;
  }

  .block {
    padding: 0 0;
  }

  .video-react .video-react-big-play-button {
    background-color: $red;
  }

}
